{% extends 'base.html' %}
{% block body %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="card-deck flex-column flex-lg-row" style="width: 400px;height:500px; margin-left:500px;">
    <div class="card radius-5 " >
        <div class="card-body"  >
            <div class="card-title">
                <h6><u>List of Companies</u> </h6>
            </div>
            
           <a href="{% url 'createcompany' %}" style="margin-left:200px;" >Create Company</a>
           <a href="{% url 'altercompanyview' %}" style="margin-left:200px;" >Alter Company</a>
           <a href="{% url 'selectcompany' %}" style="margin-left:200px;" >Select Company</a>
           <a href="{% url 'shutcompany' %}" style="margin-left:200px;" >Shut Company</a>
<hr>
           <div>
               <table>
               {% for i in com %}
               {% if i.disabled == 1 %}
               <tr>
                {{i.name}}<br></tr>
                {% endif %}
               {% endfor %}
               </table>
           </div>
        </div>
    </div>
   

{% endblock %}