{% extends 'base.html' %}
{% block body %}


<div class="card-deck flex-column flex-lg-row" style="width: 400px;height:500px; margin-left:500px;">
    <div class="card radius-5 " >
        <div class="card-body"  >
            <div class="card-title">
                <h5>List of companies </h5>
            </div>
            
           <a href="{% url 'createcompany' %}" class="float:right;" >Create Company</a>
<hr>
           <div>
               <table>
               {% for i in com %}
               <tr>
                {{i.name}}<br></tr>
               {% endfor %}
               </table>
           </div>
        </div>
    </div>

{% endblock %}