{% extends 'base.html' %}
{% block body %}


<script>
    function save(){
        document.getElementById("comp").submit();
    }
</script>

<div class="page-content">
 
    <div class="card radius-15" style="background-color: #243e54;">
        <div class="card-body">
            <div class="card-title">
                <h4 class="mb-0">Currency Creation </h4>
            </div>
            <hr/>
            <form id="comp" action="" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                
                    <div class="row">
                        
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom02">Symbol</label>
                            <input id="compnayname" type="text" class="form-control w-75" id="validationCustom02" name="name"
                                   required style="background-color: #2f516f;color: white;" onkeypress="document.getElementById('mailing_name').focus();document.getElementById('mailing_name').value=document.getElementById('companyname').value">
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom02">Formal Name</label>
                            <input id="mailing_name" type="text" class="form-control w-75" id="validationCustom02" name="mailing_name"
                                   required style="background-color: #2f516f;color: white;"
                                   onkeypress="document.getElementById('address1').focus();">
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">ISO currency code</label>
                            <input type="text" id="address1" class="form-control w-75" id="validationCustom03" name="address1"
                                   required style="background-color: #2f516f;color: white;"
                                   onkeypress="save()">
                            
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Number of Decimal Places</label>
                            <input type="text" id="address1" class="form-control w-75" id="validationCustom03" name="address1"
                                   required style="background-color: #2f516f;color: white;"
                                   onkeypress="save()">
                            
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Show amount in millions</label>
                            <input type="text" id="address1" class="form-control w-75" id="validationCustom03" name="address1"
                                   required style="background-color: #2f516f;color: white;"
                                   onkeypress="save()">
                            
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Suffix symbol to amount</label>
                            <input type="text" id="address1" class="form-control w-75" id="validationCustom03" name="address1"
                                   required style="background-color: #2f516f;color: white;"
                                   onkeypress="save()">
                            
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Add space between amount and symbol</label>
                            <input type="text" id="address1" class="form-control w-75" id="validationCustom03" name="address1"
                                   required style="background-color: #2f516f;color: white;"
                                   onkeypress="save()">
                            
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Word representing amount after decimal</label>
                            <input type="text" id="address1" class="form-control w-75" id="validationCustom03" name="address1"
                                   required style="background-color: #2f516f;color: white;"
                                   onkeypress="save()">
                            
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="validationCustom03">Number of decimal places for amount in words</label>
                            <input type="text" id="address1" class="form-control w-75" id="validationCustom03" name="address1"
                                   required style="background-color: #2f516f;color: white;"
                                   onkeypress="save()">
                            
                        </div>
                    </div>
                    
                                  
                            
                    </div>
            </form>
           
                
            
        </div>
    </div>
</div>

{% endblock %}