<script src="https://code.jquery.com/jquery-git.js"></script>
<style>
    .displayBlock
    {
        display: inline-block;
    }
    td a {
        display:block;
        width:100%;
    }
   

    table.one {
        position:relative;
        float:right;
        border:solid 1px green;
      }
</style>
<script>
    function save(){
        document.getElementById("comp").submit();
    }

    function finYear(){
        document.getElementById('fin').value="04/01/2022"
        }

    function showState(){
        
        document.getElementById('tblState').style.visibility= "visible";
    }

    function showCountry(){
        
        document.getElementById('tblCountry').style.visibility= "visible";
    }

    function setState(state){
        document.getElementById('state').value= state;
        document.getElementById('tblState').style.visibility= "hidden";
        document.getElementById('country').focus();

    }

    $(document).ready(function(){
        document.getElementById('tblState').style.visibility= "hidden";
        document.getElementById('tblCountry').style.visibility= "hidden";
        finYear();
        document.getElementById('fin').value = new date();
    })
</script>
<form id="comp" action="{% url 'companycreate' %}" method="post" class="needs-validation form-group" novalidate>
    {% csrf_token %}
   
    <div class="page-content">
       
        <div class="card radius-15" style="background-color: #243e54;">
            
            <div class="card-body">
                
                <div class="card-title" style="background-color: rgb(42, 134, 170); height:50px">
                    
                    <h6>Company</h6>
                </div>
                <table id="tblState" class="one form-control" style="width: 20%;">
                    <tr>
                    <td>
                        <a onclick="setState('Kerala')">Kerala</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a onclick="setState('Karnataka')">Karnataka</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a onclick="setState('Maharashtra')">Maharashtra</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a onclick="setState('TamilNadu')">TamilNadu</a>
                    </td>
                </tr>
               
               
                </table>
                <table id="tblCountry" class="one" style="width: 20%;">
                    <tr>
                    <td>
                        <a>India</a>
                    </td>
                </tr>
                
               
               
                </table>
                <div class="row no-gutters">
                    

                    <div class="col" style="float:right">
                        
                        
                        
                       
                        <div class="col">
                            Company Name
                            <input id="companyname" type="text" class="form-control w-25"  name="name" required
                                   style="height:25px;  " onkeypress="document.getElementById('address1').focus();document.getElementById('address1').value=document.getElementById('companyname').value">
                            
                        </div>
                        <br>
                        <div class="col">
                            Address:
                            <input id="address1" type="text" class="form-control w-25"  name="address1" required
                                   style="height:25px" onkeypress="document.getElementById('address2').focus();">
                                   <input id="address2" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="document.getElementById('address3').focus();">
                                   <input id="address3" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="document.getElementById('address4').focus();">
                                   <input id="address4" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="document.getElementById('state').focus();">
                            
                        </div>
                        <br>
                        
                        <div class="col">
                            State
                            <input id="state" type="text" class="form-control w-25"  name="" required
                                   style="height:25px"
                                   
                                   onkeypress="showState();">
                            
                        </div>
                        <br>
                        <div class="col">
                            Country
                            <input id="country" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="showCountry()">
                            
                        </div>
                        <br>
                        <div class="col">
                            Pincode
                            <input id="pin" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="document.getElementById('tel').focus();">
                            
                        </div>
                        <br>
                        <div class="col">
                            Telephone
                            <input id="tel" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="document.getElementById('mob').focus();">
                            
                        </div>
                        <br>
                        <div class="col">
                            Mobile
                            <input id="mob" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="document.getElementById('fax').focus();">
                            
                        </div>
                        <br>
                        <div class="col">
                            Fax
                            <input id="fax" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="document.getElementById('email').focus();">
                            
                        </div>
                        <br>
                        <div class="col">
                            Email
                            <input id="email" type="text" class="form-control w-25"  name="" required
                                   style="height:25px" onkeypress="document.getElementById('web').focus();">
                            
                        </div>
                        <br>
                        <div class="col">
                            Website
                            <input id="web" type="text" class="form-control w-25"  name="" required
                                   style="height:25px;"  onkeypress="document.getElementById('fin').focus();">
                            
                        </div>
                        <hr>
                        <div class="col">
                            Financial year beginning from
                            <input id="fin" type="date" class="form-control w-25"  name="fin_begin" required
                                   style="height:25px;"  onkeypress="document.getElementById('book').focus();">
                            
                        </div><br>
                        <div class="col">
                            Books beginning from
                            <input id="book" type="date" class="form-control w-25"  name="books_begin" required
                                   style="height:25px;"  onkeypress="document.getElementById('cur').focus();">
                            
                        </div>
                        
                        <hr>
                        <div class="col">
                            Base currency symbol
                            <input id="cur" type="text" class="form-control w-25"  name="" required
                                   style="height:25px;"  onkeypress="document.getElementById('formal').focus();">
                            
                        </div><br>
                        <div class="col">
                            Formal name
                            <input id="formal" type="text" class="form-control w-25"  name="" required
                                   style="height:25px;" onkeypress="save()">
                            
                        </div>
                        <!-- <div class="col">
                            <div class="form-row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <button class="btn btn-outline-info text-light rounded-pill w-100"
                                            type="submit">SAVE
                                    </button>
                                </div>
                                <div class="col-md-3"></div>

                            </div>

                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
