{% extends "base.html" %}
{% load static %}
{% block body %}
<script src="https://code.jquery.com/jquery-git.js"></script>
<style>
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
    }
    .form-popup {
        display: none;
        position: fixed;
        top: 250px;
        right: 15px;
        border: 1px solid #f1f1f1;
        z-index: 9;
        width: 300px;
        height: 600px;
      }
    
      .content a:hover {background-color: rgb(238, 167, 75);}
      
      /* Add styles to the form container */
      .form-container {
        max-width: 50px;
        height: 500px;
        padding: 10px;
      }
      .form-container1 {
        max-width: 350px;
        height: 500px;
        padding: 2px;
       
      }
     


</style>
<script>
    function showGroup(){
        document.getElementById('underForm').style.display= "block";
    }
    function setData(){
        document.getElementById('under').value= '*Primary';
        document.getElementById('under').value= 'Bank Accounts';
        document.getElementById('underForm').style.visibility= "hidden";
        }

</script>
<div class="row container-fluid p-0 mx-0">
    <div class="col-sm-3 m-0 p-0"></div>
    <div class="col-sm-6 m-0 p-0" style=" background-color:rgba(0,0,0,0.2);">
        <a href="javascript:history.go(-1);" class="close">+</a>
    <h6 class="bg-info text-light p-2">Group Creation</h6>
    <div  style="text-align: center;margin-top:-35px;font-weight:900">{{cmp.name}}</div>
    <div hidden  style="text-align: center;margin-top:-35px;font-weight:900">{{cmp.id}}</div>

<form id="myForm" action="{% url 'creategroup' cmp.id %}" method="post" class="p-5">
    {% csrf_token %}
        <div hidden>{{cmp.id}}</div>
                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-4 m-0 p-0"> <label for="gname">Name :</label></div>
                        <div class="col-sm-8 m-0 p-0"><input type="text" id="gname" onfocus="this.value=''" name="gname" class="form-control" placeholder=""></div> 
                    </div>

                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-4 m-0 p-0"> <label for="alia">(Alias) :</label></div>
                        <div class="col-sm-8 m-0 p-0"><input type="text" id="alia" name="alia"class="form-control" placeholder=""></div> 
                    </div>
                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-4 m-0 p-0"> <label for="under">Under :</label></div>
                        <div class="col-sm-8 m-0 p-0">
                            <input type="text" id="under" value="*Primary" name="under" class="form-control w-75" placeholder="" 
                            onclick="showGroup();" >

                        </div> 
                    </div>
                    
                            <!-- <select id="under" name="under" class="form-control ">
                                <option value="primary" selected>*Primary</option>
                                <option value="Bank Account">Bank Accouts</option>
                <option value="Bank OCC A/c">Bank OCC A/c</option>
                <option value="Bank OD A/c">Bank OD A/c</option>
                <option value="Bank_Account">Branch Divisions</option>
                <option value="Bank_Account">Capital Amount</option>
                <option value="Bank_Account">Cash in Hand</option>
                <option value="Bank_Account">Current Assets</option>
                <option value="Bank_Account">Current Liabilities</option>
                <option value="Bank_Account">Deposits (Asset)</option>
                <option value="Bank_Account">Direct Expenses</option>
                <option value="Bank_Account">Direct Incomes</option>
                <option value="Bank_Account">Duties and Taxes</option>
                <option value="Bank_Account">Expenses(Direct)</option>
                <option value="Bank_Account">Expenses(Indirect)</option>
                <option value="Bank_Account">Fixed Assets</option>
                <option value="Bank_Account">Income (Direct)</option>
                <option value="Bank_Account">Income (Indirect)</option>
                <option value="Bank_Account">Investments</option>
                <option value="Bank_Account">Loans & Advances (Asset)</option>
                <option value="Bank_Account">Loans (Liability)</option>
                <option value="Bank_Account">Misc. Expenses (Asset)</option>
                <option value="Bank_Account">provisions</option>
                <option value="Bank_Account">Purchase Accounts</option>
                <option value="Bank_Account">Reserves & Surplus</option>
                <option value="Bank_Account">Retained Earnings</option>
                <option value="Bank_Account">Sales Accounts</option>
                <option value="Bank_Account">Secured Loans</option>
                <option value="Bank_Account">Stock-in-Hand</option>
                <option value="Bank_Account">Sundry Creditors</option>
                <option value="Bank_Account">Sundry Debtors</option>
                <option value="Bank_Account">Suspence A/c</option>
                <option value="Bank_Account">Unsecured Loans</option>   
        
                                {% comment %} {% for i in grp %}
        
                                <option value="{{i.name}}">{{i.name}}</option>
        
                                {% if i.alias is not none %}
                                <option value="{{i.alias}}">{{i.alias}}</option>
        
                                {% endif %}
        
                                {% endfor %} {% endcomment %}
                            </select> -->

                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-4 m-0 p-0"> <label for="subled">Groups behaves like a sub-ledger:</label></div>
                        <div class="col-sm-8 m-0 p-0">
                            <select id="subled" name="sub_ledger" class=" form-control">
                                <option value="True">Yes</option>
                                <option value="False" selected>No</option>
                            </select>
                        </div> 
                    </div>


                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-4 m-0 p-0"> <label for="nett">Nett Debit/Credit Balance for Reporting:</label></div>
                        <div class="col-sm-8 m-0 p-0">
                            <select id="nett" name="nee" class=" form-control">
                                <option value="True">Yes</option>
                                <option value="False" selected>No</option>
                            </select>
                        </div> 
                    </div>

                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-4 m-0 p-0"> <label for="cal">Used for
                            calculation
                            <br><small style="font-size: 10px;">(for example:taxes,discounts,Sales invoice
                                entries)</small>:</label></div>
                        <div class="col-sm-8 m-0 p-0">
                            <select id="cal" name="cal" class=" form-control">
                                <option value="True">Yes</option>
                                <option value="False" selected>No</option>
                            </select>
                        </div> 
                    </div>

                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-4 m-0 p-0"> <label for="meth"> Method to allocate when used in purchase invoice :</label></div>
                        <div class="col-sm-8 m-0 p-0">
                            <select id="meth" name="meth" class=" form-control">
                                <option value="" selected>Not Applicable</option>
                                <option value="Appropriate by Qty">Appropriate by Qty</option>
                                <option value="Appropriate by Value">Appropriate by Value</option>
                            </select>
                        </div> 
                    </div>

                    <div><input type="submit" style="margin-left: 250px;" value="create" class="btn btn-info"></div>
                    <!-- <div class="flexy w-100 py-4"><button id="cbtn" type="button" class="btn btn-info w-50">Create</button></div> -->
    
</form>

</div>
</div>
<div class="col-sm-3  m-0 p-0"></div>

</div> 

<div class="form-popup" id="underForm" style="background-color: rgb(216, 232, 238);" >
    <form action="" class="form-container1" >
        <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Groups</h6>
    <hr >
    <div>
        <table >
        <tr >
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;*Primary</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Bank Accounts</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Bank OCC A/c</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Bank OD Account</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Branch/Divisions</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Capital Account</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Cash-in-hand</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Current Assets</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Current Liabilities<br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Deposits(Assets)</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Bank Account</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Bank Account</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Bank Account</a><br>
            <a onclick="setData()" style="color:black;cursor:pointer">&nbsp;&nbsp;Bank Account</a><br>
            
        <!-- {% for i in ccentre %}
       
    
        <a onclick="setCostcentre('{{i.cname}}','{{i.id}}')"  class="content" 
        style="cursor:pointer;color:black;">&nbsp;&nbsp;{{i.cname}}</a><br>
        {% endfor %} -->
        </tr>
        </table>
    </div>
    <input type="text" name="underhidden" hidden value="{{i.id}}">
    </form>
</div>

{% endblock body %}