{% extends 'base.html' %}
{% block body %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="card-deck flex-column flex-lg-row" style="width: 400px;height:500px; margin-left:500px;">
    <div class="card radius-5 " >
        <div class="card-body"  >
            <div class="card-title">
                <h6><u>List of Companies</u> </h6>
            </div>
            
           

           <div>
               <table>
               {% for i in com %}
               <tr><a href="">{{i.name}}</a>
                <br></tr>
               {% endfor %}
               </table>
           </div>
        </div>
    </div>
   

{% endblock %}