<div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Pin Code</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" name="pincode" class="form-control" maxlength="6"
                            pattern="^[1-9][0-9]{5}$" title="Please enter valid pincode"></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Telephone</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" name="telephone" class="form-control" id="d" placeholder=""
                            maxlength="8" pattern="[0-9]{3}[0-9]{2}[0-9]{3}">
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Mobile</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" name="mobile" class="form-control" id="d" placeholder=""
                            maxlength="10" pattern="[6-9]{1}[0-9]{9}" title="Please enter valid phone number">
                        </div>
                    </div>